


.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
  }
  
  .navbar .navbar-logo span {
    color: #b6895b;
  }
  
  .jumbotron {
    text-shadow: #000 2px 2px;
  }
  
  .background-header {
    position: relative; /* Positioning context for child elements */
    background-image: url("./components/img/banner.jpg"); /* Pastikan file banner.jpg berada di public/img/ */
    background-color: #fafbfc;
    height: 95vh; /* Set height to full viewport height */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Ensure the image covers the entire section */
  }
  
  
  
  .container-fluid-max {
    max-width: 1440px;
  }
  
  h2:before,
  h2:after {
    background-color: #b6895b;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 25%;
  }
  
  h2:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  h2:after {
    left: 0.5em;
    margin-right: -50%;
  }
  
  